@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.button-hidden {
    opacity: 0;
    transition: opacity 0.3s;
}

.button-visible {
    opacity: 1;
    transition: opacity 0.3s;
}

.background-image {
    background-image: linear-gradient(to right, #4299e1, orange 45%, #141852 73%), linear-gradient(to right, #48bb78, black 73%);
    background-size: 800%;  /* This will scale the image 3 times its original size */
    background-position: 0% 0%; /* This will position the image to the top-left */
    background-repeat: no-repeat;
    transition: background-position 1s ease-out;
    height: calc(300px + 30px);
}

.grass-image {
    background-image: linear-gradient(to right, #48bb78, black 73%);
    background-size: 800%;
    background-position: 0% 0%; /* This will position the image to the top-left */
    background-repeat: no-repeat;
    transition: background-position 1s ease-out;
}

.navbar-image {
    background-image: linear-gradient(to right, #48bb78, black 73%);
    background-size: 800%;
    background-position: 0% 0%; /* This will position the image to the top-left */
    background-repeat: no-repeat;
    transition: background-position 1s ease-out;
}

.duration-4000 {
    transition-duration: 4000ms;
}

.sun {
    box-shadow: 0 0 30px 10px yellow;
}

.transition-effect {
    transition: all 1s ease-in-out;
}

.navbar-content {
    position: relative; /* or absolute, based on your layout needs */
    transition: left 4s ease-in-out; /* Transitioning the left property */
  }

.element {
  position: absolute;
  bottom: -20px;
}

.moon {
    width: 75px;  /* Adjust as needed */
    height: 75px;
    background-color: gray;  /* Color of the moon */
    border-radius: 50%;  /* Make it a circle */
    position: absolute;  /* Set to relative for absolute positioning of pseudo-element */
    overflow: hidden;  /* Ensures the pseudo-element does not overflow the moon div */
    box-shadow: 0 0 30px 10px white; 
  }
  
  .moon::before {
    content: "";  /* Mandatory for the pseudo-element to show */
    width: 90px;  /* Make this larger than the moon div */
    height: 90px;
    background-color: rgba(220, 220, 220, 0.6);  /* Color of the night sky or the background */
    border-radius: 50%;  /* Make it a circle */
    position: absolute;  /* Position it absolutely within the moon div */
    right: 2px;  /* Adjust as needed to control the phase of the moon */
    top: 30%;
    transform: translateY(-50%);
  }

  .crater {
    position: absolute;
    background-color: gray;  /* Slightly darker than the moon */
    border-radius: 50%;
}

/* Individual crater sizes and positions */

.crater.small {
    width: 7px;
    height: 7px;
    top: 40%;
    left: 75%;
}

.crater.medium {
    width: 6px;
    height: 12px;
    top: 50%;
    left: 10%;
}

.crater.large {
    width: 18px;
    height: 13px;
    top: 10%;
    left: 50%;
}

.crater.xsmall {
    width: 12px;
    height: 9px;
    top: 65%;
    left: 45%;
}

.crater.xlarge {
    width: 21px;
    height: 21px;
    top: 20%;
    left: 20%;
}

body {
    overflow-x: hidden;
 }

.bg-gray {
   background-color: gray;
 }
  
/* Counting Stars~ 밤하늘에 퍼어얼~ */
 .star {
    width: 2px; /* Adjust as needed */
    height: 2px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

.star-fade-in {
    opacity: 1;
}

/* Clouds */
.cloud {
    width: 100px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    background-color: white;
    border-radius: 50px;
    position: absolute;
    opacity: 0.8;
    z-index: 50; /* Ensure clouds are above stars */
    transition: transform 1s ease-in-out;
}

.cloud::before, .cloud::after {
    content: "";
    width: 50px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: 10px;
}

.cloud::before {
    left: -30px;
}

.cloud::after {
    right: -30px;
}

.glow-on-hover {
    transition: text-shadow 0.3s ease;
}

.glow-on-hover:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.body-blue-100 {
    background-color: #ebf8ff;
}

.body-gray-800 {
    background-color: #2d3748; 
}

.glow-icon-on-hover {
    transition: text-shadow 0.3s ease;
}

.glow-icon-on-hover:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

